{% extends "layout.html.twig" %}
{% block content %}
<div style="height: 100px;width:60%; background-color:#FA8128;position:relative;left:400px;top:150px;height:800px;">
 <img src="/image/istock1.jpg" style="width:500px;height:400px;position:relative;left:400px;top:10px">
<br>
<br>
<div style="position:relative;left:100px;font-size:25px;">Bienvenido a ElectroInfo, un foro donde podrás compartir tus conocimientos sobre electrodomésticos.<br>Clicka sobre navegar para empezar a ver, añadir, borrar o editar informaciónsobre electrodomesticos.</div>
</div>
{% endblock %}