{% extends "layout.html.twig" %}
{% block content %}
<div style="height: 100px;width:60%; background-color:#FA8128;position:relative;left:400px;top:150px;height:800px;">
 <img src="/image/istock1.jpg" style="width:500px;height:400px;position:relative;left:400px;top:10px">

</div>
{% endblock %}