
{% extends "base.html.twig" %}
{% block layout %}

<div class="caja"><img src="/image/logo.jpeg"class="logo"><a href="{{ path('app_main') }}" class="home">inicio</a><a href="{{ path('app_list') }}" class="navegar" >navegar</a></div>
{% block content %}{% endblock %}
{% endblock %}