
{% extends "base.html.twig" %}
{% block layout %}

<div style="background-color:#4169E1; width:80%;height:200px;position:relative;left:200px;"><img src="/image/logo.jpeg" width="200px" height="200px"></div>
{% block content %}{% endblock %}
{% endblock %}